* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }

header{
  background-color: bisque;
  
  h1{
    background-color: yellow;
    border: 10px black double;
    margin-block-start: revert;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    
  }
}

#marcador{
  display: flex;
  flex-direction: row;
  justify-content: center;
  #usuario{
    border: 5px yellow solid;
    background-color: black;
    color: white;
    margin: 10px;
    font-size: 30px;
    margin-right: 10px;
    padding: 10px;
    #marcadorUsuario{
      margin-left: 10px;
      margin-right: 10px;
      font-size: 30px;
    }
  }
  #bot{
    border: 5px yellow solid;
    background-color: black;
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 30px;
    margin-right: 10px;
    padding: 10px;
    #marcadorBot{
      margin-right: 10px;
      margin-left: 10px;
      font-size: 30px;
    }

  }
  
}
.escoger{
  h3{
    text-align: center;
    margin-block-start: revert;
    font-size: 50px;
    font-weight: 600;
  }
}

.eleccion{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  img{
    width: 300px;
    height: 300px;
    border: 10px black solid;
  }
}

#resultado{
  h3{
    text-align: center;
    margin-block-start: revert;
    font-size: 50px;
    font-weight: 600;
  }
}