* {
  padding: 0;
  margin: 0;
}

header{
  background-color: bisque;
  
  h1{
    background-color: yellow;
    border: 10px black solid;
    margin-block-start: revert;
    text-align: center;
    font-size: 70px;
    
  }
}
.escoger{
  h3{
    text-align: center;
    margin-block-start: revert;
    font-size: 50px;
  }
}

.eleccion{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  img{
    width: 300px;
    height: 300px;
    border: 10px black solid;
  }
}